milestone1/*
!milestone1/src
milestone1/src/*
!milestone1/src/run.sh
!milestone1/src/pre_*
!milestone1/src/post_*
!milestone1/src/trygra

!milestone1/src/my.l
!milestone1/src/tokrep.l
!milestone1/src/parser.l
!milestone1/src/mygra.l
!milestone1/src/graph_rl.l
!milestone1/src/toktype.l
!milestone1/tests
!milestone1/tests/*

!milestone1/run.sh
!milestone1/runTest.sh
!milestone1/Makefile
!milestone1/src/Makefile
!milestone1/src/myASTGenerator

milestone3/src/*
!milestone3/src/grammer.y
!milestone3/src/Makefile
!milestone3/src/scanner.l
!milestone3/src/myASTGenerator

milestone4/*
!milestone4/src
milestone4/src/*
!milestone4/src/grammer.y
!milestone4/src/Makefile
!milestone4/src/scanner.l
!milestone4/src/myASTGenerator
!milestone4/src/*.cpp
!milestone4/src/*.l
!milestone4/src/*.s
!milestone4/src/*.sh
!milestone4/src/changes.txt

!milestone4/tests
milestone4/tests/*
!milestone4/tests/*.java
!milestone4/tests/*.c
!milestone4/tests/*.s
!milestone4/tests/*.sh

.vscode
